$-side-bar-width: 200px;
$-top-bar-height: 60px;

$--color-white: #fff;
$--color-black: #000;

$--color-menu-bg: #292e40;

$--color-bg: #f9f9f9;

$--color-nav-hover: #363b4c;
$--color-nav-active: #212533;
$--color-nav: #a6adc2;

$--color-border: #ebeef5;
$-logo-border: rgba(0, 0, 0, 0.2);

$--color-success: #67c23a;

$--color-text-title: #292e41;
$--color-text-regular: #595959;
$--color-text-secondary: #cbced8;
$--color-text-active: #3aa2eb;

$--color-primary: #3ba5ff;
$--color-warning: #faa51f;
